.showedMoves-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 15px;
}
.computer-move {
  position: absolute;
  top: 0px;
  transform: rotate(180deg);
}
.human-move {
  position: absolute;
  bottom: 0;
}
